.page_6_container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
}

.part_1{
    display: flex;
    align-items: center;
    border: 2px solid white;
}

.part_2{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.part_3{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    border: 2px solid white;
}

.email{
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: aquamarine;
    border: 2px solid white;
}
.insta{
    padding: .5rem;
    background-color: rgb(45, 45, 150);
    border: 2px solid white;
}