.page_1_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* First part of the home screen (the title image) */
.hero1{
  object-fit: contain;
  max-width: 60rem;
  margin: 0 auto;
}
.person {
  object-fit:cover;
  width: 100%; 
  height: 100%;
  scale: 1;
}
.bg{
  width: 100%;
}


/* Second part of the home page (the person drawing) */
.hero2{
  position: relative;
  bottom: -100%;
}
.run_in{
  animation: anim_in 1.3s forwards;
}
.run_out{ 
  animation: anim_out 1s forwards;
}

@keyframes anim_in{
  from{
    bottom: -100%;
  }
  to{
    bottom: 0;
  }
}

@keyframes anim_out{
  from{
    bottom: 0;
    opacity: 1;
  }
  to{
    bottom: 0;
    opacity: 0;
  }
}

/* @media only screen and (min-width: 500px){
  .hero2{
    display: none;
  }
  .hero1{
    height: 100%;
    display: flex;
    align-items: center;
  }
} */
@media only screen and (min-width: 500px){
  .page_1_container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero2{
    display: block;
    scale: .8;
  }
  .hero1{
    padding: 0 0 5rem 0;
  }
}