.page_2_container{
    height: 100vh;
}

.hero{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 60rem;
    
  }
  .hero-img {
    object-fit:cover;
    width: 100%; 
  }

h2{
    font-size: 1.225rem;
}