*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Piedra', serif;
}

.main{
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-color: #000000;
}

.main > div{
    height: 100vh;

/* Optional: Hide scrollbar track */
::-webkit-scrollbar {
    width: 0;
}

/* Optional: Hide scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: transparent;
}